{%extends "blog/base.html"%}
{%load crispy_forms_tags%}
{%block content%}
    <div class = "custom-section">
      <form method = "POST">
        {% csrf_token %}
        <fieldset class="form =-group">
          <legend class = "border-bottom mb-4">Take Part in {{society.elections_set.last.Name }} Elections!</legend>
          {{form|crispy}}
        </fieldset>
        <div class="form-group">
          <button class = "btn btn-outline-info" type = "submit">Contest</button>
        </div>
      </form>
    </div>
{%endblock content%}
