{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" href="static 'blog/main.css'"/>

    <meta charset="utf-8">
    <title>Online Voting</title>
  </head>
  <body>
  <header class="site-header">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">OnlineVoting</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="{%url 'blog-home'%}">Home</a></li>
        </ul>
        {%if user.is_authenticated %}
        <ul class="nav navbar-nav">
          <li><a href="{%url 'profile'%}">Profile</a></li>
          <li><a href="{%url 'My Societies'%}">My Societies</a></li>
        </ul>
        {% else %}
        <ul class="nav navbar-nav">
          <li><a href="{%url 'blog-about'%}">About</a></li>
        </ul>
        {%endif%}
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
            <li><a href="{%url 'logout'%}"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
          {% else %}
            <li><a href="{%url 'register'%}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <ul class="nav navbar-nav navbar-right">
            <li><a href="{%url 'login'%}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li></ul>
          {%endif%}
        </ul>
      </div>
    </nav>
</header>
  <main role="main" class="container">
  <div class="row">
  <div class="col-md-8">
    {%if messages%}
      {%for message in messages%}
        <div class = "alert alert-{{message.tags}}">
          {{message}}
        </div>
      {%endfor%}
    {%endif%}
    {% block content %}{% endblock %}
  </div>
  <div class="col-md-4">
    <div class="content-section">
      <h3>Our Sidebar</h3>
      <p class='text-muted'>You can put any information here you'd like.
        <ul class="list-group">
          <li class="list-group-item list-group-item-light">Latest Posts</li>
          <li class="list-group-item list-group-item-light">Announcements</li>
          <li class="list-group-item list-group-item-light">Calendars</li>
          <li class="list-group-item list-group-item-light">etc</li>
        </ul>
      </p>
    </div>
  </div>
  </div>
  </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
