<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Kushal Natani</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/resume.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Kushal Krishan Natani</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/kushal3.jpg" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#awards">Awards</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#resume">Resume</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">Kushal
          <span class="text-primary">Natani</span>
        </h1>
        <div class="subheading mb-5"> Azad Hall of Residence, IIT Kharagpur ·
          <a href="mailto:kushalnatani123@gmail.com">kushalnatani123@gmail.com</a>
        </div>
        <p class="lead mb-5">I am a Sophomore of the Dept. of Computer Science and Engineering at the Indian Institute of Technology, Kharagpur, pro-gamer by heart,and programmer by Passion ;-).</p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/kushalnatani3">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/conjuror1279">
            <i class="fab fa-github"></i>
          </a>
          <!-- <a href="#">
            <i class="fab fa-twitter"></i>
          </a> -->
          <a href="https://facebook.com/kushal.natani.3">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Projects</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Autonomous Ground Vehicle</h3>
            <div class="subheading mb-3">Runners-up at 27'th Intelligent Ground Vehicle Conference</div>
            <p>With the team of the best programmers and brainstormers we at AGV,IIT KGP created a Self moving Robot which could follow the lanes and robustly adjust its speed and path direction according to the track ahead.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">March 2019 - July-2019</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Intern at Aryabhatiya</h3>
            <div class="subheading mb-3">Software and Web Development Intern</div>
            <p>Algonside the best pool of people I have worked with,I at aryabhatiya developed a web based platform for their <a href = "https://aryabhatiya.ml">StartUp on education reform</a>. Set up web based educational games on computer
science, game theory, politics, economics etc.Also got awarded for the best intern and contributed to their <a href = "https://creator.aryabhatiya.ml">ongoing project</a></p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">December 2018 - January 2019</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Simultaneous Localisation and Mapping</h3>
            <div class="subheading mb-3">Self Project</div>
            <p>Studied and implemented single-handedly feature matching across multiple images and subsequently triangulated the points.Checked the results over a bunch of image data collected over the internet and generated using webcam.Further applied bundle adjustment and Extended Kalman Filter to produce good results over large image data.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">July 2019 -  September 2019</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Game Development</h3>
            <div class="subheading mb-3">CodeClub, IIT Kharagpur</div>
            <p>Collaboratively worked with two other batchmates to develop a shooting game using the python library with dynamic obstacles.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">April 2019 - May 2019</span>
          </div>
        </div>

      </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Indian Institute of Technology, Kharagpur</h3>
            <div class="subheading mb-3">Bachelor of Technology</div>
            <div>Computer Science and Engineering</div>
            <p>GPA: 8.96/10</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">July 2018 - Present</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Step by Step High School</h3>
            <div class="subheading mb-3">Intermediate</div>
            <p>Percentage: 91.2% aggregate</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">April 2016 - February 2018</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Step by Step High School</h3>
            <div class="subheading mb-3">Matriculation</div>
            <p>GPA : 10/10</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">April 2015 - February 2016</span>
          </div>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Programming Languages &amp; Tools</div>
        <ul class="list-inline dev-icons">
          <li class="list-inline-item">
            <i class="fab fa-html5"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-css3-alt"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-js-square"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-angular"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-react"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-node-js"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-sass"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-less"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-wordpress"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-gulp"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-grunt"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-npm"></i>
          </li>
        </ul>

        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            Mobile-First, Responsive Design</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Cross Browser Testing &amp; Debugging</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Cross Functional Teams</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Agile Development &amp; Scrum</li>
        </ul>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
      <div class="w-100">
        <h2 class="mb-5">Interests</h2>
        <p>Apart from my curriculum, I spend much of my time playing onling multiplayer games. I am also a cinema geek and some of my favourite franchise include Marvel and Harry Potter. Also, I enjoy doing Math and Physics problems.</p>
        <p class="mb-0">When subjected outdoors, I generally like to play badminton, cricket and table tennis.I also like to socialize and meet new people while spending time with the old ones.</p>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
      <div class="w-100">
        <h2 class="mb-5">Awards &amp; Scholastic Achievements</h2>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Achieved Rank 285 in JEE Advanced 2018 among top 1.5 lakh students across India.</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Achieved Rank 503 in JEE Mains 2018 among 13 lakh students across India.</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            <sup></sup>
            Recipient of the KVPY Fellowship by Govt. of India, with Rank 348 across India.</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            <sup></sup>
            Bagged Gold medal for selection in top 35 in India for International Astronomy Olympiad.</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            <sup></sup>
            Awarded top 1% in India, certificate for National Standard Examination in Physics (conducted by IAPT).</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            <sup></sup>
            Awarded top 1% in India, certificate for National Standard Examination in Chemistry.</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            <sup></sup>
            Awarded the Gold Certificate for selection in top 50 teams across India for Technothlon (IIT Guwahati).</li>
            <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            <sup></sup>
            Awarded the prestigious NTSE scholarship by National Council of Education, Research & Training.</li>
        </ul>
      </div>
    </section>


    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="resume">
      <div class="w-100">
        <h2 class="mb-5">Resume</h2>
        <p>Willing to know more about my academic and research endeavours? Here is a link to my <a href="https://cse.iitkgp.ac.in/~kushalnatani/resume.pdf">Resume</a>.</p>
      </div>
    </section>

  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/resume.min.js"></script>

</body>

</html>
