{%extends "blog/base.html" %}
{%block content%}
    <div class="container mt-3 text-center" role="main" >
      <h1>
        Online Voting Portal
      </h1>
    </div>
   <div class="container">
    <p>
      <h4>
      Targeted to conduct voting in multiple societies and to make the voting process less cumbersome  
      </h4>
    </p>
   </div>
    <div>
      <h5>Created by :- <a href = "https://cse.iitkgp.ac.in/~kushalnatani/">Kushal Natani</a>(18CS30025) and <a href=" https://iamcodemonk.github.io/aniport/">Animesh Barua</a>(18CS10003)</h5>
    </div>
{% endblock content%}
